doctype html
html
  head
    title Blog Home
  body
    header
      h1 Welcome to My Blog
      nav
        ul
          li
            a(href='/create') Create Post

    main
  h2 Blog Posts
  form(action="/" method="GET")
    input(type="text", name="search", placeholder="Search posts")
    select(name="sortBy")
      option(value="", selected=(sortBy === '')) Newest
      option(value="oldest", selected=(sortBy === 'oldest')) Oldest
      option(value="alphabetical", selected=(sortBy === 'alphabetical')) Alphabetical
    button(type="submit") Search

  if posts
    ul
      each post in posts
        li
          a(href=`/post/${post.id}`) #{post.title} by #{post.author} (#{post.createdAt ? post.createdAt.toLocaleDateString() : 'No Date'})
  else
    p No posts available.

