extends layout

block content
    p.post-meta By #{post.author} (Posted on #{post.createdAt ? post.createdAt.toLocaleString() : 'No Date'})
    p.post-content= post.content
    a(href=`/edit/${post.id}`) Edit Post
